<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPuZCgnXuX0SFtSGBlBu1bxSLLzO8UhmI</string>
	<key>GCM_SENDER_ID</key>
	<string>437115499623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacobchestnut.Daisy</string>
	<key>PROJECT_ID</key>
	<string>daisy-2c915</string>
	<key>STORAGE_BUCKET</key>
	<string>daisy-2c915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:437115499623:ios:142430032c4cf680eb10c2</string>
</dict>
</plist>
